@media only screen and (max-width: 300px) 	{ .prev, .next, .text {	font-size: 11px	;}}

@media only screen and (max-width: 75em) {
	.w3-main {
		margin-right: 10%;
		margin-left: 21%;
	}
}

@media only screen and (max-width: 50em) {
	.skillcard2 { width: 75%; }
	:lang(ru) > .skillcard {width: 80%;}
}

@media only screen and (min-width: 50em) {
	.other_skills_content {	display: grid; grid-template-columns: auto auto; }
	.skillcard2 { width: 95%; }
	:lang(ru) > .skillcard {width: 80%;}
}		

@media only screen and (min-width: 75em) {
	#my_precious_sidebar {
		border-radius: 7px;
		margin-left: 2%;
	}
	.w3-main {
		max-width: 70em;
		margin-left: 25%;
		width: 60%;
	}
}	



html, body, h1, h2, h3, h4, h5, h6 { font-family: "Ubuntu", sans-serif; }
h1, h2, h3, h4 { text-align: center; font-weight: bold;}
.poiret { font-family: "Poiret One"; font-size: 22px;}
.handwri { font-family: "Neucha", cursive; font-weight: normal;}

html {
    height: 100vh; 
    min-height: 100%; 
}

body {
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background: fixed no-repeat center;
}

.w3-main {
    background-color: rgba(255,255,255,0.5);
    border-radius: 7px;
    padding: 1%;
	margin-top: 5%;
	margin-bottom: 1%;
}

.content {
    display: none;
	animation:opac 1s;
}
#intro {display: block;}
.notsure {color: rgba(0,0,0,0.5)}


.w3-main a {
    text-decoration: none;
    color: rgba(0,0,0,0.65);
}
.w3-main a:hover {
    color: rgba(255,255,255,1);
}
#thanks, #contacts {text-align: center;}


.w3-sidebar {
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,1);
    border-radius: 0px 7px 0px 0px;
    width: 20%;
}

.w3-bar-item {cursor: pointer;}
.w3-bar-item:hover {
    background-color: rgba(255,255,255,.2);
}

.topnav {
    position: fixed;
    top: 0px;
    background-color: rgba(255,255,255,0.75);

}


/* Skill Cards Start */

.skillcard {
    width: 75%;
    margin: 3% auto 3% auto;
    background-color: rgba(255,255,255,0.5);
    padding: 1em;
    border-radius: 7px;
}
.skillcard2 {
    margin: 3% auto 3% auto;
    background-color: rgba(255,255,255,0.5);
    padding: 1em;
    border-radius: 7px;
    min-width: 45%;
}
.skillcard h3 {text-align: center; font-family: "Poiret One";}
.skillcard2 h3 {text-align: center; font-family: "Poiret One";}
.skillcard footer { color:rgba(0,0,0,0.65); }
.skillcard2 footer { color:rgba(0,0,0,0.65); }
.skillcard flavour {font-style: italic;}
.skillcard2 flavour {font-style: italic;}

/* Skill Cards End */

::-moz-selection {color: rgba(255,255,255,1); background: rgba(0,0,0,0.1);}
::selection { color: rgba(255,255,255,1); background: rgba(0,0,0,0.1); }

/* Animations */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes opac{from{opacity:0} to{opacity:1}}


/* Lang Lab Start */
:lang(en) > q { quotes: '\201E' '\201C' '\201A' '\2018' ; }
:lang(ru) > q { quotes: '\00AB' '\00BB'; }
/* Lang Lab End */

q {font-style: italic;}
a {text-decoration: none;}
